/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    #logos{display: none;}
    .menu{display: none;}
    .hamburger-menu{display: block;margin-left: 400px;}
    .menu.active { display: flex; }
    .card{width: 50%;}
    .card-principal{width:37%; height:200px;float: left;}
    .card-serviços img{ width:19%;margin-top: 10px;}
    .card-serviços h3{ font-size:16px;width: 100px; float: right;}
    .card-serviços P{ text-align:center;}
    h2{clear: both;}
    #habilidades{clear: both;}
}
