
.skills .logo img {
    max-width: 250px; /* Defina o tamanho máximo desejado para as imagens */
    height: auto; /* Isso manterá a proporção original da imagem */
    display: inline-block; /* Isso fará com que as imagens se alinhem horizontalmente */
    margin-right: 20px; /* Espaço entre as imagens (ajuste conforme necessário) */
  }
  

  .skills .logo:last-child img {
    margin-right: 0;
  }
  